<div class="app-developpement mx-4">
  <h1 class="mb-3">
    <span>Moyens utilisés pour la croissance de la communauté</span>
  </h1>

  <section>
    <h2 class="mb-3">
      <span>Faire participer sa communauté</span>
    </h2>
    <div>
      Nous avons mis en place des jeu concours pour faire gagner des lots (les
      lots présents lors du lancement de l’application : casquettes, boussoles,
      etc… pour devenir un « parfait explorateur ». Un des jeux mis en place a
      été l’insertion sur le site internet d’œufs de Pâques pour la fête du même
      nom. Le but du jeu était de retrouver le nombre d’œufs cachés sur les
      pages internet liées aux explorateurs des parcs. Ce jeu concours avait un
      double objectif : développer la communauté et également créer du trafic
      sur notre site internet.
    </div>
  </section>

  <section>
    <h2 class="mb-3">
      <span>Faire de la publicité</span>
    </h2>
    <div>
      <div>
        Concrètement, payer pour être vu par des internautes qui ne l’ont pas
        demandé en échange de dizaines ou centaines d’euros est très attrayant.
        Cette publicité digitale est beaucoup moins cher qu’un espace
        publicitaire traditionnel et permet de toucher des cibles très précises.
      </div>

      <div class="mt-3">
        C’est très intéressant étant donné qu'un des problèmes que l’on rencontre
        habituellement sur les réseaux sociaux d’une collectivité est le
        ciblage. En effet, notre communauté actuelle n’est pas toujours celle
        que nous voulons cibler et les campagnes sponsorisées sont un vrai coup
        de pouce pour nous.
      </div>

      <div class="mt-3">
        Également les publicités des réseaux sociaux s’intègrent très bien dans
        les fils d’actualités et sont plus agréables et donc efficaces que les
        bannières qui s’ouvrent et interrompent la navigation, en particulier
        sur les appareils mobiles.
      </div>

      <div class="mt-3">
        Nous avons mis en place des publications sponsorisées notamment lors du
        lancement en octobre, mais aussi lors du lancement des concours.
      </div>
    </div>
  </section>

  <section>
    <h2 class="mb-3">
      <span>Utiliser des influenceurs</span>
    </h2>
    <div>
      <div>
        Il est indispensable de travailler avec des influenceurs actuellement.
        Les influenceurs génèrent un taux d’engagement beaucoup plus fort que
        les contenus publiés par les marques elles-mêmes.
      </div>

      <div class="mt-3">
        Le taux d’engagement moyen des influenceurs est de 5,7%, c’est-à-dire
        environ le double des contenus brandés sur <em>Instagram</em>, la plateforme de
        marketing d’influence la plus populaire. C'est l'un des chiffres
        marketing d'influence les plus convaincants.
      </div>

      <div class="mt-3">
        Souvent la relation que l’on nous avec un influenceur repose sur un
        intérêt mutuel. L’influenceur peut, par exemple, trouver un avantage à
        travailler avec nous. En effet, on lui permet d’accéder à des endroits
        habituellement interdits ou nous-mêmes nous lui faisons accéder à notre
        audience. De notre côté, ça peut rajeunir notre image ou apporté de la
        nouveauté.
      </div>

      <div class="mt-3">
        C’est pourquoi nous avons décidé de travailler sur la mise en place d’un
        partenariat avec un ou deux influenceurs locaux. Cela prendrait la forme
        de stories dans les parcs pendant que les protagonistes jouent. Mais
        cette stratégie est en cours d’élaboration.
      </div>
    </div>
  </section>
</div>
