<div class="app-lancement mx-4">
  <h1 class="mb-3">
    <span>
      Mise en place de la stratégie de présence sur les réseaux sociaux
    </span>
  </h1>

  <section>
    <h2 class="mb-3">
      <span>Plan d'action</span>
    </h2>

    <div>
      <div class="container m-0">
        <div class="row">
          <div class="col-lg-9 p-0">
            Le plan d'action est le cœur de notre dispositif, il nous permettra
            de déterminer quel(s) réseau(x) social(aux) nous allons
            sélectionner. Il repose sur deux questions : « Quels sont nos
            objectifs ? » et « Quelles sont nos cibles ? » Quel(s) objectif(s)
            poursuivons-nous en étant actif sur les réseaux sociaux ? Ils
            peuvent être très divers : accroître sa notoriété, moderniser son
            image, améliorer son écoute des préoccupations des usagers,
            accroître la participation à un événement, diversifier ses cibles de
            communication institutionnelle, provoquer de la conversation autour
            d'un projet, etc. Qui entendons-nous toucher ? Les objectifs pour le
            lancement ont été les suivants : faire connaitre l’application et
            amener les gens à venir au lancement de l’application. En effet, le
            lancement de l’application s’est accompagné par un évènement
            physique dans le parc de Vaugrenier, premier parc disponible sur
            l’application.
          </div>

          <div class="col-lg-3">
            <img
              class="d-block mx-auto mt-2"
              src="assets/logo.png"
              alt="Logo"
              height="200"
            />
          </div>
        </div>
      </div>

      <div class="mt-3">
        Notre cible est la part de parents de notre communauté. Nous avons
        choisi cette cible puisque l’application est faite pour toute personne à
        proximité d’un parc, disposant d’un smartphone sera susceptible de
        télécharger et d’utiliser l’application :

        <ul class="mt-2">
          <li>Les enfants à partir de 8 ans</li>
          <li>
            Les familles : parents, grands-parents avec des jeunes enfants
          </li>
          <li>Les jeunes adultes, casual gamers</li>
          <li>
            Les personnes connectées qui apprécient les parcs Départementaux,
            les sorties natures, l’apprentissage en nature, les randonnées
          </li>
          <li>
            Les professeurs, associations, établissement d’accueil…. souhaitant
            mettre en place un projet pédagogique autour de la découverte et la
            protection de notre environnement naturel
          </li>
        </ul>

        <p class="mt-3">
          Suite à ce raisonnement nous avons décidé pour le lancement de faire
          choisir <em>Facebook</em>, <em>Twitter</em>, <em>Instagram</em> et <em>TikTok</em>. Dans un second temps
          nous avons choisi <em>Facebook</em> et <em>Instagram</em> principalement et petit à
          petit d’investir <em>TikTok</em>.
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2 class="mb-3">
      <span>Charte éditoriale</span>
    </h2>

    <div>
      <div>
        Il a fallu également créer une charte éditoriale. A ce stade, il faut
        poser les contours de notre prise de parole sur les réseaux et définir
        le niveau du message. Ici c’était informer et faire participer à
        l’événement dans un premier temps puis bien évidemment faire télécharger
        l’application.
      </div>

      <div class="mt-3">
        Nous avons donc commencé par se poser les questions suivantes : Quel est
        le ton à employer ? Le lexique à employer ? Voix active ou passive ?
        L'utilisation d’emojis ? etc…
      </div>

      <div class="mt-3">
        Il est difficile d’y répondre rapidement puisqu’on s’adresse à des
        parents. Pour autant, étant sur les réseaux sociaux on peut être un peu
        plus familier. Qui plus est le sujet dont on parle étant un jeu pour les
        enfants, il est largement faisable de parler de manière moins formelle.
        C’est pourquoi nous avons décidé d’adopter un ton plus familier,
        utiliser des emojis et aussi être assez direct dans la façon dont on
        s’adresse aux utilisateurs.
      </div>
    </div>
  </section>

  <section>
    <h2 class="mb-3">
      <span>Stratégie de diffusion</span>
    </h2>

    <div>
      <div>
        Après avoir établi la stratégie, il y a la partie opérationnelle. Du
        lancement jusqu’à aujourd’hui nous travaillons en équipe avec des rôles
        bien précis. Chaque personne à un rôle bien défini et nous travaillons
        ensemble. Mais parfois ce nombre de personnes et de sources
        d’informations fait que ça peut prendre du temps pour quelque chose qui
        pourrait être rapide.
      </div>
      <div class="mt-3">
        Dans le cas de l’application, il faut que la proposition faite par
        l’équipe de la direction des services numériques soit validé par le
        cabinet. Ensuite, il faut que la chargée de communication établisse une
        stratégie qui doit elle-même validé par la directrice du service. De
        plus, il faut s’accorder avec les équipes de l’évènementiel et celles du
        protocole. Tous ces services ont des besoins de validations par leur
        hiérarchie ce qui peut là aussi faire perdre du temps.
      </div>
    </div>
  </section>

  <section>
    <h2 class="mb-3">
      <span>Charte graphique</span>
    </h2>

    <div>
      <div>
        Nous avons choisi au niveau de la charte graphique de prendre une
        typographie qui correspond au style de l'application, à savoir
        <span style="font-family: 'CurseCasualRegular'">CurseCasualRegular</span>.
        Au niveau des couleurs, ce sont celles principalement issu de la
        charte graphique de l'application elle-même. Nous avons également
        insérer le bandeau classique de notre charte graphique globale que nous
        avons ensuite enlevé pour laisser place à seulement 2 logos : celui du
        Département des Alpes-Maritimes et celui du <em>GREENDeal</em>.
      </div>

      <div class="mt-3">
        Pour le lancement nous avons demandé à nos vidéastes et nos graphistes
        certains visuels :

        <ul class="mt-2">
          <li>Mise au format du teaser au format story (1080x1920)</li>
          <li>Création d’un picto à la une sur <em>Instagram</em></li>
          <li>Déclis format RS (FB/TW)</li>
          <li>Cover Event FB (500 x 262 pixels)</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h2 class="mb-3">
      <span>S'accorder sur les processus internes</span>
    </h2>

    <div>
      <div>
        Il est important de préciser dès l'ouverture qui est le responsable. À
        l'instar d'un directeur de publication pour un site web, il sera
        responsable du contenu publié. Sans valeur légale, cette indication aura
        néanmoins le mérite de clarifier la situation en interne. Cette personne
        peut être le community manager, son responsable, le responsable de la
        communication numérique ou le directeur de la communication, etc. C'est
        aussi le moment de mettre en place un système de suppléance et de
        choisir une personne qui prendra le relais en cas d'absence du community
        manager.
      </div>

      <div class="mt-3">
        Dans le cadre de mes missions et après le lancement de l’application, je
        devais gérer la stratégie sur les réseaux sociaux de l’application
        digitale. Pour continuer à communiquer sur le jeu digital, nous avons
        décidé de faire une publication par semaine. Je devais donc en fin de
        mois faire une proposition de publications, c’est-à-dire le texte et le
        visuel.
      </div>

      <div class="mt-3">
        Cela permet de le faire un peu en avance d’avoir les différentes
        validations dans les temps. Pour cela, nous avons mis en place sur
        laquelle un groupe Teams sur lequel les différents référents de chaque
        service sont présents. Ce groupe permet une meilleure interaction et
        permet de pouvoir échanger s’il y a des changements.
      </div>
    </div>
  </section>
</div>
